/* General styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(219, 176, 115);
}
/* main container */
.container{
    height: 100vh;
    display: flex;
    align-items: center;
}

/* Slider container */
.slider{
    height: 50vh;
    width: 70%;
    margin: 0 auto;
    display: flex;
}
/* Set item div on display none */
.notActive{
    display: none;
}
#items_container{
    height: 100%;
    width: 75%;
    position: relative;
}
#items_container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* Class active to show divs */
.active{
    display: block;
}
.text{
    position: absolute;
    right: 20px;
    bottom: 40px;
    text-align: right;
    color: white;
    padding-left: 100px;
}
.text p{
    margin-top: 5px;
}

/* Thumbnail styles */
#thumbnail_container{
    position: relative;
    width: 25%;
    height: 100%;
}
#thumbnail_container div{
    height: 20%;
}
#thumbnail_container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Class with brightness */
.ligthBrightness{
    filter: brightness(0.3);
    cursor: pointer;
}
.brightness{
    filter: brightness(1);
    border: 4px solid;
    border-color: rgba(255, 255, 255, 0.4);
}

/* Buttons to slide photo */
button{
    position: absolute;
    padding: 1rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    cursor: pointer;
    z-index: 1;
}
#play-time{
    top: 100px;
}
#revert-time{
    bottom: 100px;
}
.button-timer{
    left: 50px;
}
#top_button{
    right: 50%;
    top:2%;
    transform: translate(50%,0);
}
#bottom_button{
    right: 50%;
    bottom:2%;
    transform: translate(50%,0);
}
button:hover{
    background-color: rgba(255, 255, 255, 0.7);
}
